$font-family-default-sans-serif: 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-default-serif: 'Georgia', 'Times New Roman', Times, serif;

$font-size-base: 16px;
$line-height-base: 1.5;
$line-height-headline: 1.2;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;